.contact-head {
  height: 100vh;
  color: var(--canard);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-intro-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 128px;
}

.contact-section {
  height: 520px;
  color: var(--beige);
}

.contact-links {
  display: flex;
  height: 520px;
  flex-direction: column;
  justify-content: center;
  gap: 29px;
  .contact-mail-part,
  .contact-tel-part {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    h2 {
      width: 166px;
    }
  }
}
