.header {
  display: flex;
  align-items: center;
  gap: 24px;
  z-index: 1;
}

.header-left-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 67px;
}

.header-right-nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.header-language {
  padding: 5px 9px;
  background: var(--yellow);
  color: var(--canard);
}

.header-projects {
  .header-language {
    color: var(--green);
  }
}

.header-contact {
  color: var(--canard);
  path {
    fill: var(--canard);
  }
  .header-language {
    background-color: var(--canard);
    color: var(--turquoise);
  }
}

.mask {
  position: relative;
  padding: 0;
  height: 96px;
  overflow: hidden;
}

.link {
  height: 100px;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;
  line-height: 96px;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

.link:hover .link-container {
  transform: translateY(-96px);
}

.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}
