.parallax,
.parallax2,
.parallax3 {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  pointer-events: none;
}

.parallax {
  background-image: url("../img/flower-1-canard.png");
  left: -50%;
}

.parallax2 {
  background-image: url("../img/flower-2-canard.png");
  background-size: 500px;
  height: 900px;
  width: 500px;
  top: 165%;
  left: 71.6%;
}

.parallax3 {
  background-image: url("../img/flower-3-beige.png");
  background-size: 500px;
  height: 900px;
  width: 500px;
  top: 210%;
}
