.project-content {
  display: flex;
  gap: 25px;
}

.project-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 25px;
}

.project-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.project-title {
  display: flex;
  gap: 13px;
}

.project-images {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
  }
}

.project-images img:hover {
  transform: scale(105%);
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100%;
}

.project-part {
  margin-top: 170px;
  margin-bottom: 150px;
}

.project-images-container-all {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.project-images-container {
  overflow: hidden;
}

.project-bottom-images-container {
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.project-part-t-chocolate {
  color: var(--chocolate);
}

.project-part-t-green {
  color: var(--green);
}

.project-images {
  transition: all 0.3s ease;
}

.project-description-container {
  height: 100%;
}
