.project-content {
  display: flex;
  gap: 25px;
}

.project-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 25px;
}

.project-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.project-title {
  display: flex;
  gap: 13px;
}

.project-images {
  img {
    width: 100%;
    height: 100%;
  }
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 377;
}

.project-part {
  margin-top: 170px;
  margin-bottom: 150px;
}

.project-images-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-bottom-images-container {
  display: flex;
  gap: 10px;
}
