* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

body {
  color: var(--yellow);
}

h1 {
  font-family: Aalto;
  font-size: 96px;
  font-weight: 400;
}

h2 {
  font-family: "Advent Pro";
  font-size: 36px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

h3 {
  font-family: "Advent Pro";
  font-size: 20px;
  font-weight: 500;
}

p {
  font-family: "Advent Pro";
  font-size: 20px;
  font-weight: 400;
}

:root {
  --green: #aca356;
  --turquoise: #9bbda4;
  --canard: #12494d;
  --canard-dark: #0a3f43;
  --beige: #f0d5a0;
  --yellow: #f1a805;
  --chocolate: #6e4623;
  --chocolate-dark: #573a1f;
}
