.l-homepage-header {
  background-color: var(--canard);
  height: 100vh;
  background-image: url(../img/texture-bg.png);
}

.l-music {
  background-color: var(--turquoise);
  background-image: url(../img/texture-bg.png);
}
.l-highlight {
  background-color: var(--green);
  background-image: url(../img/texture-bg.png);
}

.l-footer {
  background-color: var(--chocolate);
  background-image: url(../img/texture-bg.png);
}

.l-projects-head {
  background-color: var(--green);
  height: 100vh;
  background-image: url(../img/texture-bg.png);
}

.l-project-t-canard {
  background-color: var(--canard);
  background-image: url(../img/texture-bg.png);
}

.l-project-t-turquoise {
  background-color: var(--turquoise);
  background-image: url(../img/texture-bg.png);
}

.l-project-t-green {
  background-color: var(--green);
  background-image: url(../img/texture-bg.png);
}

.l-project-t-chocolate {
  background-color: var(--chocolate);
  background-image: url(../img/texture-bg.png);
}

.l-project-t-beige {
  background-color: var(--beige);
  background-image: url(../img/texture-bg.png);
}

.l-contact-head {
  background-color: var(--turquoise);
  background-image: url(../img/texture-bg.png);
}

.l-contact-section {
  background-color: var(--green);
  background-image: url(../img/texture-bg.png);
}
